/**
 * CONFIGURAÇÃO DOS ELEMENTOS DA PAGINA DO FILME
 */

.info-filmes{
    justify-content: center;
}

.poster-filme{
    display: flex;
    color: #fff;
    margin: 80px;
    margin-top: 100px;
}

.poster-filme img{
    width:230px;
    height: 345px;
    float: left;
    border-radius: 4px;
}

.descricao-tecnica{
    margin-left: auto;
}

#infos-descricao-filme p{
    color: #789;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    top: 3px;
    background-color: #14181c;
    padding-right: 3px;
    margin: 14px 0 12px;
}


.cast-list{
    justify-content: center;
    display: flex;
    text-align: left;
    list-style: none;
}

.cast-item{
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.cast-content img{
    margin: 10px;
    width: 100px;
    height: 152px;
    border-radius: 3px;
    transition: .2s linear;
}

.cast-content img:hover{
	transform: scale(1.2);
	transition: transform .4s;
}

.cast-content figcaption{
    margin: 10px;
    color: #fff;
}

.sinopse-filme{
    margin: 60px;
    color: #789;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: justify;
}

.cast{
    margin-top: 10px;  
}

.comentarios{
    display: flex;
    margin: 80px;
    font-family: Graphik-Regular-Web,sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #9ab;
    letter-spacing: 1px;
    margin-bottom: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid #456;
    list-style: none;
}

.usuario-list{
    list-style: none;
}

.usuario-list-item{
    font-size: 15px;
}

