#container {
	/*Define a largura mínima do container*/
	min-width: 600px;
	/*Define a largura máxima do container*/
	max-width: 960px;
	/*Define a cor de fundo*/
	background-image: linear-gradient(to top, rgba(15, 15, 15,1), rgba(15,15,15,1));
	/*Essa propriedade vai centralizar este elemento*/
	/*0 de espaçamento top e bottom*/
	/*mesmo espaçamento de margin nas laterais - calculo automático*/
	margin: 0 auto;
	height: 1500px;
}

/* CONFIGURAÇÃO DOS ELEMENTOS DO LOGOTIPO*/
#logo{
	display: flex;
}

#logo div img{
	width: 100%;
	height: 100%;
	align-self: center;
}

#logo-img{
	margin: 3px;
	padding: 3px;
	width: 150px;
	height: 90px;
}

#logo-texto{
	width: 150px;
	height: 100px;
}


html, body {
    margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Graphik-Regular-Web,sans-serif;
	background-image: url("glitch-effect.gif");
	display: grid;
	place-items: center;
}

/*CONFIGURAÇÃO DOS ELEMENTOS DO HEADER*/
header {
    display: flex;
	background-image: linear-gradient(to top, rgba(15, 15, 15,1), rgba(15,15,15,0.3));
	width: 960px;
	height: 100px;
	justify-content: space-between;
}
header ul {
    display: flex;
	text-align: left;  /*align-items: left;*/
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
header ul li {
	display: flex;
	justify-content: space-between;
	align-self: center;
	height: 100%;
	margin: 0;
	padding: 0;
}
header ul li a {
	align-self: center;
    padding: 0;
    margin: 0;
    color: #ffffff;
	text-decoration: none;
}

header ul li a:hover {
    border: solid 1px black;
	border-radius: 5px;
}

/*CONFIGURAÇÃO DOS ELEMENTOS DOS LANÇAMENTOS*/
.filme-cartaz-list{
	text-align: center;
}

.filme-cartaz-content, .catalogo-filmes-content {
	margin: 30px;
	color: #fff;
	font-size: 15px;
}

.filme-cartaz-content img, .catalogo-filmes-content img{
	border: solid 1px white;
	border-radius: 3px;
}

.filme-cartaz-content:hover img, .catalogo-filmes-content:hover img{
	border: solid 3px rgb(126, 49, 126);
	transform: scale(1.2);
	transition: transform .6s;
}

.filme-cartaz-content:hover p, .catalogo-filmes-content:hover p{
	color: rgb(126, 49, 126);
}

.filme-cartaz-list-item{
	display: inline-block;
	text-align: center;
}

/*CONFIGURAÇÃO DOS ELEMENTOS DO CATALOGO DE FILMES*/
.catalogo-filmes-list{
	text-align: center;
}

.catalogo-filmes-list-item{
	display: inline-block;
	text-align: center;
}

h2{
	color: #fff;
	text-align: center;
}

/*CONFIGURAÇÃO DOS ELEMENTOS DO FOOTER- REDES SOCIAIS*/
.redes-sociais-list-item{
	display: inline-block;
	text-align: center;
	height: 20px;
}

.redes-sociais-list-item div{
    color: white;
    text-align: center;
    padding: 2rem;
}

.redes-sociais-list-item img {
    max-width: 1rem;
    max-height: 1rem;
}

/*CONFIGURAÇÃO DOS ELEMENTOS DO FOOTER*/
footer {
    background-image: linear-gradient(to bottom, rgba(15, 15, 15,1), rgba(15,15,15,0.3));
    color: white;
    text-align: center;
	font-size: 13px;
	height: 200px;
	width: 960px;
}
