1 --------------------------------------
/*permite um contexto flexível para todos os seus filhos diretos*/
display: flex;

/*Redefine todos os estilos fundamentais, para que você comece com uma nova folha de estilo em branco e consiga montar as suas próprias definições*/
reset.css

*{
    /*usadas para gerar espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas*/
    padding:0;
    /*usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas*/
    margin: 0;
    /*permite incluir o preenchimento e a borda na largura e altura total de um elemento*/
    box-sizing: border-box;
}

2 --------------------------------------
Tentar deixar o css abreviado, se possível

/*Ao invés de usar assim: */

.header {
      background-color: #fff;
      background-image: url(image.gif);
      background-repeat: no-repeat;
      background-position: top left; 
}

/* Use assim: */
.header {
      background: #fff url(image.gif) no-repeat top left;
}

3 --------------------------------------
Entendendo classe e id

classe = representada por .
classe diferente do id, pode ser reutilizavel, quando se trata de css é mais interessante utilizar classe, pois o id é mais usado em JavaScript

id = representada por #
usado para um estilo que é único e não se repete;

4 --------------------------------------
Use <div> para criação de .container

a classe .container é utilizada na <div> mãe de todo o seu conteudo, quando queremos garantir que o layout ficará alinhado corretamente à página. O container pode definir (ou não) as margens laterais da página e é também utilizada para posicionar o conteudo no centro da tela.

<!DOCTYPE html>	
  <html lang="pt">
    <head>	    
      <meta charset="utf-8">	    
      <meta http-equiv="X-UA-Compatible" content="IE=edge">	    
      <meta name="viewport" content="width=device-width, initial-scale=1">	    
      <title>Bootstrap Template</title>
    </head>
  <body>	
    <!-- Olha a classe container aqui! -->
    <div class="container">	      
    <h1 class="page-header">Olá, mundo!</h1>
    </div>
  </body>
  </html>
  
  .container {
  width: 85%; /* Aqui é você que decide qual o melhor tamanho de acordo com o seu layout */
  margin: 0 auto; /* Essa propriedade é a responsável pela centralização do seu conteúdo */
}
